<div>
<h1 ng-bind-html="questions[currentQuestion].question"></h1>
<ul ng-repeat="answer in questions[currentQuestion].answers">
    <li id="list" ng-click="selectAnswer(answer, questions[currentQuestion].correct_answer)" ng-class="{'incorrect': selectedAnswer === answer && selectedAnswer !== correctAnswer, 'correct': selectedAnswer === answer && selectedAnswer === correctAnswer}">
        {{answer}}
    </li>
</ul>
<div>
<button id="nextQ" ng-click="nextPage()">next question</button>
      </div>
</div>
</div>
