<body ng-controller="questions">
<div ng-repeat="question in questions">
    <h1 ng-bind-html="question.question"></h1>
    <!-- <div ng-repeat="answer in question.answers">
        <h2 ng-bind-html="answer"></h2>
    </div> -->
    <h2 ng-bind-html="question.answers"></h2>
</div>

<!-- <form>
    <input type="radio" value="True">
        <label>True</label><br>
    <input type="radio" value="False">
        <label>False</label><br>
    <br>
    <button type="submit">Next</button>
</form> -->
</body>
