<h1>Top 5 Masters Of All Times!!</h1>

<div class="col-md">

    <div id="mainImg"></div>

    <div class="top5">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <th scope="row">1</th>
                    <td>{{user.fname}}</td>
                    <td>{{user.lname}}</td>
                    <td>{{user.score}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
</div>
<p>P.S.
     You should be proud of yourself guys!!! </p>
                    <button id="startGame">Start Game!</button>